/* LOGIN SPECIFIC */

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 0.8rem;
}

.forgot-password {
    color: #93c5fd;
    text-decoration: none;
    font-weight: 600;
}

.forgot-password:hover {
    color: #fff;
}